{% extends "base.html" %}

{% load static %}

{% block custom_estilos %}
  <link rel="stylesheet" type="text/css" href={% static "css/core_aviso.css" %}>
{% endblock %}

{% block conteudo %}
<div class="conteiner conteudo">
  <div class="container theme-showcase" role="main">
    <div class="jumbotron page-header">
      <h3 class="text-center">Nova senha configurada!</h3>
      <a href="{% url 'core:home' %}" class="btn btn-info" id="btn-pass">FAZER LOGIN</a>
    </div>
  </div>
</div>
{% endblock %}
