{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block custom_estilos %}
  <link rel="stylesheet" type="text/css" href={% static "css/core_aviso.css" %}>
  <link rel="stylesheet" type="text/css" href={% static "css/password_reset_confirm.css" %}>
{% endblock %}

{% block conteudo %}
<div class="conteiner conteudo">
  <div class="container theme-showcase" role="main">
    <div class="jumbotron page-header">
      {% if validlink %}
      <h3 class="text-center">Por favor, configure sua nova senha:</h3>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form action="#" method="post" class="form">
            {% csrf_token %}
            {{ form|crispy }}
            <div>
              <button type="submit" class="btn btn-info btn-block" value="Altere minha senha" id="btn-pass">SALVAR</button>
            </div>
          </form>
        </div>
      </div>
      {% else %}
      <p>
        O link de recuperação da senha é inválido.<br>
        Por favor, solicite uma nova recuperação de senha.
      </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}