{% extends "base.html" %}

{% load static %}

{% block custom_estilos %}
  <link rel="stylesheet" type="text/css" href={% static "css/core_aviso.css" %}>
{% endblock %}

{% block redirecionamento %}
  <meta http-equiv="refresh" content="30; {% url 'core:home' %}">
{% endblock %}

{% block conteudo %}
<div class="conteiner conteudo">
  <div class="container theme-showcase" role="main">
    <div class="jumbotron page-header">
      <h3 class="text-center">ABRA SEU E-MAIL!</h3>
      <p>
      Nós enviamos um e-mail com instruções para recuperação de sua senha.<br>
      Caso não tenha recebido nenhum e-mail, verifique se você digitou o endereço com o qual você se registrou. <br>
      <span class="texto-contato">Voce será redirecionado para pagina inicial em breve...</span>
      </p>
    </div>
  </div>
</div>
{% endblock %}