.jumbotron {
  text-align: left;
}

div#hint_id_new_password1 {
  background-color: white;
  margin-top: 10px;
  border: 2px solid #9E9E9E;
  font-size: medium;
  font-weight: lighter;
  font-style: italic;
  color: black;
  padding-top: 8px;
  border-radius: 5px;
}
