<div class="modal fade" id="modal_aviso" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="padding: 5px; text-align: center">
        <h3>ACESSO NÃO AUTORIZADO</h3>
          <p style="font-size: 1.5rem">
            Usuário não integrante do grupo <strong>{{ grupo|upper }}</strong><br>
          </p>
      </div>
      <div class="modal-footer" style="padding: 5px; text-align: center">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
