{% extends "componentes/shares/DadosPopup.html" %}

{% block aviso_docsDnisp %}
<ul>
  <li>
    <p class="dp-popdnisp">
      Insira somente arquivo no formato <em>.pdf</em>.
    </p>
  </li>
  <li>
    <p class="dp-popdnisp">
      Caso necessiste inserir vários arquivos, compacte-os no formato <em>.zip ou .rar</em>.
    </p>
  </li>
  <li>
    <p class="dp-popdnisp">
      Tamanaho máximo permitido: 34MB.</p>
  </li>
  <li>
    <p class="dp-popdnisp">
      Após inserir o arquivo, confirme se o link de <em>"Download"</em> encontra-se disponível.
    </p>
  </li>
  <li>
    <p class="dp-popdnisp">
      Certifique-se de que o nome do arquivo tenha no máximo <em>100 caracteres</em>.
    </p>
  </li>
</ul>
{% endblock %}
