<div class="row">
  <div class="col-md-6">
    <strong><p>Data de criação:</strong> {{ item.criacao|date:'d/m/Y à\s H:i' }}</p>
  </div>
  <div class="col-md-6">
    <strong><p>Inserido por:</strong> <em>{{ item.autor }}</em> {% if item.autor_id == user.pk %}<span class="pull-right"><a href="{% url 'adm:editar_despacho_adm' item.pk %}"><button type="button" class="btn btn-default btn-sm">Ver/Imprimir/Editar Despacho</button></a></span>{% endif %}</p>
  </div>
</div>

<div class="row col-md-12">
  <strong><p>Despacho:</strong>
  <div class="col-md-12 despacho">
    {{ item.despachoadm.conteudo|safe }}</p>
  </div>
</div>