<div class="row">
  <div class="col-md-4">
    <strong><p>Data de criação:</strong> {{ item.criacao|date:'d/m/Y à\s H:i' }}</p>
  </div>
  <div class="col-md-4">
    <strong><p>Número de Mídia:</strong> {{ item.midiaadm.num_midia }}</p>
  </div>
  <div class="col-md-4">
    <strong><p>Inserido por:</strong> <em>{{ item.autor }}</em></p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <strong><p>Destinatário:</strong> {{ item.midiaadm.destino }}</p>
  </div>
  <div class="col-md-6">
    <strong><p>Órgão/Autoridade solicitante:</strong> {{ item.midiaadm.solicitante }}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <strong><p class="link-lista">Tipo de gravação:</strong> {{ item.midiaadm.tipo_gravacao_link }}</p>
  </div>
  <div class="col-md-4">
    <strong><p class="link-lista">Ofício de origem:</strong> {{ item.midiaadm.oforigem }}</p>
  </div>
  <div class="col-md-4">
    <strong><p class="link-lista">Documentos:</strong>{% if item.midiaadm.docs %}<a href="{{ item.midiaadm.docs.url }}" target="_blank"> Download</a>{% else %} ----------{% endif %}</p>
  </div>
</div>

{% if item.descricao %}
<div class="row">
  <div class="col-md-12">
    <strong><p>Descrição:</strong> {{ item.descricao }}<br>
  </div>
</div>
{% endif %}