{% extends "easy_pdf/base.html" %}

{% load static %}

{% block extra_style %}
<style type="text/css">
  body {
    font-family: "Helvetica", "sans-serif";
    color: #333333;
  }
  table, td, th {
      text-align: left;
      font-size: 9px;
  }
  th.dp-header {
    border-bottom: 1px solid #ddd;
  }
  th#logo {
    text-align: center;
  }
  th#endereco {
    text-align: center;
    /*height: 15px;*/
  }
  table.dp-extrato {
    border: 1px solid black;
  }
  table {
      border-collapse: collapse;
      /*width: 100%;*/
  }
  th, td {
      padding: 3px 0 0 3px;
  }
  .subtitulo {
    background-color: #ddd;
    white-space: nowrap;
  }
  .dp-movimentacao tr {
    border-bottom: 1px solid #ddd;
  }
  .dp-movimentacao-left {
    border-left: 1px solid black;
  }
  .dp-arquivado {
    text-align: center;
    color: #ff0000;
  }
  #tr-header {
    border-top: 1px solid black;
  }
</style>
{% endblock %}

{%block page_header%}
  <table class="dp-header">
    <tr id="tr-header">
      <th><small>Documento gerado pelo GEP</small></th>
      {% if processo_adm.arquivar %}
      <th class="dp-arquivado"><h1 style="text-align: center;"><u>PROCESSO ARQUIVADO</u></h1></th>
      {% else %}
      <th></th>
      {% endif %}
      <th style="text-align: right;"><small>Extrato gerado em {% now "j F Y" %}</small></th>
    </tr>
  </table>
  <hr />
{%endblock%}

{% block content %}
<div id="content">
  <div class="main">
    <table class="dp-extrato">
      <tr>
        <th colspan="5" style="border: 0"><h2>Processo nº: {{ processo_adm.numero_processo }}</h2></th>
        <th colspan="1" style="text-align: right; border: 0; margin-right: 5px"><small>Instaurado em {{ processo_adm.criacao|date:'d/m/Y' }}</small></th>
      </tr>
      <tr>
        <th class="subtitulo">Conteúdo principal:</th>
        <td colspan="5">{% if processo_adm.assunto_adm.assunto == 'OUTRO(S)' %}{{ processo_adm.outro|upper }}{% else %}{{ processo_adm.assunto_adm }}{% endif %}</td>
      </tr>
      <tr>
        <th class="subtitulo">Destinatário:</th>
        <td colspan="2">{{ processo_adm.destino_adm }}</td>
        <th class="subtitulo">Oficiante:</th>
        <td colspan="2">{{ processo_adm.oficiante }}</td>
      </tr>
      <tr>
        <th class="subtitulo">E-mail do oficiante:</th>
        <td colspan="2">{% if processo_adm.email %}{{ processo_adm.email }}{% else %}--------{% endif %}</td>
        <th class="subtitulo">Contato (Fone):</th>
        <td colspan="2">{% if processo_adm.fone %}{{ processo_adm.fone }}{% else %}--------{% endif %}</td>
      </tr>
      <tr>
        <th class="subtitulo">Observação:</th>
        <td colspan="5">{{ processo_adm.observacao }}</td>
      </tr>
    </table>
    <hr />

    <h1><u>MOVIMENTAÇÃO</u></h1>
    {% if atos %}
      <table>
        <tr>
          <th colspan="1"><h1>#</h1></th>
          <th colspan="2"><h1>DATA</h1></th>
          <th colspan="10"><h1>ATO</h1></th>
        </tr>
        {% for ato in atos %}
        <tbody class="dp-movimentacao">
          <tr>
            <td colspan="1">{{ forloop.revcounter }}</td>
            <td colspan="2" class="dp-movimentacao-left">{{ ato.criacao|date:'d/m/Y' }}</td>
            <td colspan="10" class="dp-movimentacao-left">{{ ato.get_tipo_ato_display }} | {% firstof ato.oficiointernoadm.get_titulo ato.oficioexternoadm.get_origem ato.statusadm.get_titulo %}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    {% else %}
    <h3><em>Sem movimentação</em></h3>
    {% endif %}

  </div>
</div>
{% endblock %}

{%block page_foot%}
  Processo nº {{ processo_adm.numero_processo }} | <pdf:pagenumber />
{%endblock%}
